pandas==2.0.0
numpy==1.26.0
openai==0.27.8
python-dotenv~=1.0.0
datasets==2.14.5
notebook==7.0.4
seaborn==0.13.0
matplotlib==3.8.0
nltk==3.8.1
scikit-learn==1.3.1
scipy==1.11.3
jupytext==1.15.2

fastapi==0.103.2
python-multipart==0.0.6
uvicorn==0.23.2
uvicorn[standard]
pydantic==2.4.2
aiofiles==23.2.1
wandb==0.16.0

pika==1.3.0
aio-pika==9.3.1
python-dotenv==1.0.0
